body {
  margin: 0;
  padding: 0 0 3em 0;
  font-family: sans-serif;
  line-height: 1.6em;
  background-color: #c7bbbf;
}

header {
  position: relative;
}

header .jumbotron {
  background: url('assets/chips.jpg') no-repeat;
  background-position: -164px -647px;
}

header .links {
  position: absolute;
  bottom: 3px;
  left: 0px;
  width: 100%;
}

header .links .nav {
  background-color: rgba(255,255,255, 0.3);
}

header .links .nav .nav-link {
  text-align: center;
  color: #d14625;
}
header .links .nav .nav-link:hover {
  color: black;
}

header .links .nav .nav-link .fa {
  font-size: 24px;
}

header .links .nav .nav-link .fa + span {
  display: block;
}

#examples .cm-container .smooth-dnd-container {
  border: 1px dashed #bbb;
  /* background-color: #efe; */
}

#examples .cm-container .cm-chip {
  background: url('assets/chips.jpg') no-repeat;
  background-position: -880px -447px;
  background-size: initial;
  border: 2px solid #ae9042;
  border-radius: 4px;
  margin: 4px;
}

#examples #days.cm-container,
#examples #planets.cm-container {
  width: 100%;
  overflow: auto;
  padding: 1em 0;
}

#examples #days.cm-container .cm-chip.cm-cont-planets,
#examples #planets.cm-container .cm-chip.cm-cont-days {
  background-color: lightsalmon;
  background-image: none;
}

#examples #inputs.cm-container .smooth-dnd-draggable-wrapper {
  padding: 0.25em;
}

#examples #inputs.cm-container input {
  font-size: 0.9em;
  width: 100%;
}

#examples #buttons.cm-container .smooth-dnd-draggable-wrapper {
  padding: 0.25em;
}


#examples #buttons.cm-container button {
  border-radius: 4px;
}

#examples pre.side-syntax {
  display: flex;
  flex: 1 auto;
  height: 100%;
  margin: 0 !important;
  border-radius: 0px !important;
}

#examples pre.side-syntax code {
  max-height: unset;
}

@media screen and (min-width: 768px) {
  #examples pre.side-syntax code {
    max-height: 0;
  }
}

footer .content {
  background: url('https://www.transparenttextures.com/patterns/bright-squares.png');
  background-color: transparent !important;
}